PORT = port_number

MONGODB_URI = "mongodb://<db_username>:<db_password>@ac-nx5m3df-shard-00-00.nevsb5q.mongodb.net:27017,ac-nx5m3df-shard-00-01.nevsb5q.mongodb.net:27017,ac-nx5m3df-shard-00-02.nevsb5q.mongodb.net:27017/admin-dashboard-practice?ssl=true&replicaSet=atlas-tfkp52-shard-0&authSource=admin&appName=Cluster0"